{% extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ full_name }}" width="200" height="200">
    </div>
    <div class="col">
        <h2>{{ full_name }}</h2>
        <p class="lead">{{ email_address }}</p>
        <div class="mt-4">
            <div>Phone: <strong>{{ phone }}</strong></div>
            <div>Date of Birth: <strong>{{ date_of_birth }}</strong></div>
        </div>
    </div>
</div>
{% endblock %}

<!-- this is a sample default web page template -->